/*------------------------------------------------------------------
[ accordion ]*/

.accordion-custom-item {
    display: block;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-top: -1px;
}