/*------------------------------------------------------------------
[ animations ]*/

.hover-shine:hover {
    opacity: 1;
    -webkit-animation: flash .8s;
    animation: flash .8s;
}

@keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: .65;
}

.hover-rotate:hover {
    transform: rotate(-15deg);
}