/*------------------------------------------------------------------
[ cards ]*/

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 1rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(1rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    word-wrap: normal;
}

.card-title a {
    text-decoration: none;
}

// card-product

.card-product {
    --bs-link-color: #212121;
    --bs-link-hover-color: #685BC6;
}

.btn-wishlist,
.card-product .badge {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1;
}

.card-product .badge {
    right: auto;
    left: 7px;
}

.btn-wishlist {
    border: none;
}

.btn-wishlist.active .svg-figure{
    fill: #212121;
}

.card-product .badge.bg-success,
.card-product .badge.bg-warning {
    color: #212121;
}

.card-product .card-img {
    width: 100%;
    height: 169px;
    object-fit: cover;
}

// quantity button

.card-product .card-action-add {
    width: 101px;
    height: 24px;
}

.card-product .quantity-buttons button {
    width: 24px;
    background-size: 8px;
}

.card-product .quantity-buttons button.minus-button {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.647858' y1='0.556396' x2='11.6479' y2='0.556396' stroke='black'/%3E%3C/svg%3E%0A");
}

.card-product .quantity-buttons button.plus-button {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.647858' y1='5.55634' x2='11.6479' y2='5.55634' stroke='black'/%3E%3Cline x1='6.14789' y1='11.0564' x2='6.14789' y2='0.0563965' stroke='black'/%3E%3C/svg%3E%0A");
}

@media (min-width: 992px) {
    .card-product .card-action-add {
        width: 132px;
        height: 32px;
    }

    .card-product .quantity-buttons button {
        width: 32px;
        background-size: 12px;
    }
}

// card-blog

.card-blog {
    --bs-link-color: #212121;
    --bs-link-hover-color: #685BC6;
}

.card-blog .blog-meta {
    color: #A2A2A2;
}

.card-blog .card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

// card-cart-item

.card-cart-item {
    --bs-link-color: #212121;
    --bs-link-hover-color: #685BC6;
    --bs-card-border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-color: #f2f2f2;
    margin-top: -1px;
}

.card-cart-item .card-img {
    width: 100%;
    height: 112px;
    object-fit: cover;
}

@media (min-width: 992px) {
    .card-product .card-img {
        height: 282px;
    }
    .card-blog .card-img {
        height: 400px;
    }
    .card-cart-item .card-img {
        height: 146px;
    }
}