/*------------------------------------------------------------------
[ forms ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    border: 2px solid #ccc;
}

.form-check-input {
    border-color: #ccc;
    background-size: auto;
}

.form-check-input:checked {
    background-color: #fff;
    border-color: #ccc;
}

.form-check-input:checked[type=radio],
.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.571411' y='0.572266' width='12.8571' height='12.8571' rx='3.57143' fill='%23FBE121'/%3E%3C/svg%3E");
}

.form-check-input[type=radio],
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    border-color: #FBE121;
    box-shadow: none;
    background-color: #FFFEF5;
}

.form-control-lg {
    font-size: 0.875rem;
    min-height: 49px;
}

.search-form .form-control {
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.search-form .form-control:focus {
    background-color: #fff;
}

.subscription-form {
    position: relative;
}

.subscription-form .form-control {
    border: 2px solid #FBE121;
}

.shop-filters .form-select {
    cursor: pointer;
}

.checkout-form .form-control,
.checkout-form .form-select {
    min-height: 61px;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: transparent;
    background-color: #F6F6F6;
}

.invalid-form-group .form-control,
.invalid-form-group .form-select {
    color: #F94239;
    border-color: #F94239;
}

.invalid-text {
    display: none;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #F94239;
    margin-top: 6px;
}

.invalid-form-group .invalid-text {
    display: block;
}

.checkout-form .form-label {
    color: #ccc;
}

.payment-item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.payment-item input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.payment-item .payment-body {
    position: relative;
    flex: 1 1 auto;
    padding: 18px 13px;
    background-color: #F6F6F6;
    border: 1px solid transparent;
}

.payment-item .payment-body img {
    margin-bottom: 8px;
}

.payment-item input[type="radio"]:checked+.payment-body {
    border: 1px solid #FBE121;
}

.payment-item input[type="radio"]:checked+.payment-body::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    height: 15px;
    background: #FBE121;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 1px #e9e9e9;
}

.tab-delivery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    min-width: 0;
    width: 100%;
    height: 100%;
    padding: 14px 15px;
    background-color: #F6F6F6;
    border: 1px solid transparent;
}

.tab-delivery.active {
    border: 1px solid #FBE121;
}

.tab-delivery.active::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    height: 15px;
    background: #FBE121;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 1px #e9e9e9;
}

@media (min-width: 992px) {
    .form-control-lg {
        font-size: 1.25rem;
        min-height: 64px;
    }

    .subscription-form .form-control {
        padding-right: 300px;
    }

    .subscription-form .btn {
        position: absolute;
        top: 0;
        right: 0;
    }
}