/*------------------------------------------------------------------
[ header ]*/

.page-header {
    height: 65px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    background-color: #fff;
    transition: background-color .2s linear;
}

.cart-link {
    position: relative;
}

.cart-count {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F94239;
}

@media (min-width: 992px) {
    .page-header {
        height: 75px;
    }

    .header {
        position: relative;
        top: initial;
        left: initial;
    }

    .cms-header-transparent .page-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1030;
    }

    .cms-header-transparent .header {
        background-color: transparent;
    }
}

// Header menu

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-color: #212121;
    --bs-navbar-hover-color: #685BC6;
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: #685BC6;
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: #212121;
    --bs-navbar-brand-hover-color: #685BC6;
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.25rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: none;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-size: 1.5rem;
    --bs-nav-link-font-weight: 400;
}

.navbar-nav .dropdown-item,
.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
    --bs-dropdown-padding-y: 0;
    --bs-dropdown-spacer: 0;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-item-padding-x: 0;
    border: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    background: none;
    box-shadow: none;
}

.navbar-nav .dropdown-menu.show {
    -webkit-animation: fade-in .3s ease-in-out;
    animation: fade-in .3s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dropdown-show {
    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.navbar-toggler {
    position: relative;
    display: block;
    width: 26px;
    height: 32px;
    padding: 0;
}

.navbar-toggler>div {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #120e1e;
    transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.navbar-toggler>div:nth-child(1) {
    top: 25%;
    transform: translateY(-25%);
}

.navbar-toggler>div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.navbar-toggler>div:nth-child(3) {
    top: 75%;
    transform: translateY(-75%);
}

.navbar-toggler:not(.collapsed)>div:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.navbar-toggler:not(.collapsed)>div:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed)>div:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.navbar-brand .logo {
    width: 81px;
}

@media (min-width: 992px) {
    .navbar-nav {
        --bs-nav-link-font-size: 1rem;
    }

    .navbar-nav .dropdown-menu {
        --bs-dropdown-padding-y: 0.5rem;
        --bs-dropdown-spacer: 0.25rem;
        --bs-dropdown-font-size: 0.875rem;
        --bs-dropdown-item-padding-x: 1rem;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-top: var(--bs-dropdown-spacer);
        border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
        border-radius: var(--bs-dropdown-border-radius);
        background-color: var(--bs-dropdown-bg);
        box-shadow: var(--bs-dropdown-box-shadow);
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu.show {
        -webkit-animation: dropdown-show .3s;
        animation: dropdown-show .3s;
    }

    .navbar-brand .logo {
        width: 124px;
    }
}