/*------------------------------------------------------------------
[ links ]*/

a.gray-link {
    color: #A2A2A2;
}

a.gray-link:hover {
    color: #212121;
}

a.purple-link {
    color: #685BC6;
}

a.purple-link:hover {
    color: #212121;
}

a.black-link {
    color: #212121;
}

a.black-link:hover {
    color: #685BC6;
}