/*------------------------------------------------------------------
[ tabs ]*/

.nav-pills {
    --bs-nav-pills-border-radius: 2.25rem;
    --bs-nav-pills-link-active-color: #000;
    --bs-nav-pills-link-active-bg: #D9D9D9;
}

.nav-pills .nav-link {
    font-size: 1.25rem;
    text-transform: uppercase;
}