/*------------------------------------------------------------------
[ tooltips ]*/

.tooltip {
    --bs-tooltip-color: #212121;
    --bs-tooltip-bg: #f6f6f6;
    display: none;
}

.custom-tooltip {
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
    .tooltip {
        display: block;
    }
}