<section class="section py-5">
    <div class="container">
        <div class="mx-auto" style="max-width: 784px;">
            <div class="text-center mb-5">
                <h2 class="h2 ff-title fw-500">Новости о скидках до&nbsp;50% получают&nbsp;те, кто подписался!</h2>
            </div>

            <form class="subscription-form" action="#" method="post">
                <label class="form-label d-none">email</label>
                <input type="email" class="form-control form-control-lg" placeholder="Введите email">
                <button type="submit" class="btn btn-primary btn-lg text-uppercase w-100 w-lg-auto px-lg-6 mt-2 mt-lg-0">Подписаться</button>
            </form>
        </div>
    </div>
</section>