<section class="section py-5">
    <div class="container">
        <div class="bg-white rounded-3 shadow-lg">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid w-100" src="img/cta/cta-01.png" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="d-flex flex-column align-items-start p-3 px-lg-5">
                        <p class="h3 ff-title fw-500 mb-3">Не забудь про подарочные сертификаты для своей кудрявой половинки</p>
                        <p class="fs-16">Номиналом: 2000, 5000, 10000 ₽</p>
                        <a class="btn btn-primary btn-lg text-uppercase w-100 w-lg-auto px-lg-6 mt-3" href="certificates.html">Пошопимся</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>