/*!
 * Theme: Curl Shop
 * Author: Andrew G
 * Version: 1.0
 */

// components
@import 'components/fonts';
@import 'components/variables';
@import 'components/general';
@import 'components/typography';
@import 'components/links';
@import 'components/forms';
@import 'components/buttons';
@import 'components/swiper';
@import 'components/cards';
@import 'components/accordion';
@import 'components/tabs';
@import 'components/breadcrumb';
@import 'components/badges';
@import 'components/tooltips';
@import 'components/fancybox';
@import 'components/dropdowns';
@import 'components/navs';
@import 'components/scrollable';
@import 'components/modals';
@import 'components/animations';
@import 'components/header';
@import 'components/footer';
@import 'components/sections';